.p-new-nav {
  color: @header-grey;
  font-size: 20px;
  font-family: Knockout;
}

.p-footer-text {
  font-size: 14px;
  line-height: 17px;
  font-family: Knockout;
  color: @footer-grey;
}

.p-footer-text-large {
  font-size: 22px;
  line-height: 20px;
  text-transform: uppercase;
}

.p-heading-walbaum {
  font-family: 'WalbaumFSRegular';
  font-size: 28px;
  line-height: 32px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  width: 250px;
  margin: 0 auto;
}

.p-intro-text {
  font-family: Knockout;
  font-size: 22px;
  line-height: 20px;
  text-transform: uppercase;
  color: @almost-black;
  letter-spacing: 1px;
}

.p-news-titles {
  font-family: Knockout;
  font-size: 22px;
  line-height: 20px;
  color: @almost-black;
  text-transform: uppercase;
}

/* this mixin requires a div wrapper with a p inside */
.box-title {
      margin-top: 0px;
      background-color: @highlight-grey;
      display: block;
      width: 100%;
      height: 20px;
      p {
        font-family: Knockout;
        font-size: 14px;
        color: white;
        line-height: 20px;
        text-transform: uppercase;
        margin-left: 5px;
      }
}

.p-bullets {
  font-family: Knockout;
  font-size: 16px;
  li {
    line-height: 24px;
    }
}
