/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* always reset */
@import "reset.less";
@import "stub.less";
@import "sorren.css";
@import "walbaum.css";
@import "swiss.css";

/* omega overrides */

tr:hover td, tr.even:hover td.active, tr.odd:hover, td.active {
  background-color: transparent!important;
}

.breadcrumb {
  display:none;
}

.container-12 {
  width: 100%!important;
  margin: 0!important;
}

#section-content {
  width: 900px;
  margin: 0 auto;
}

#region-content {
  width: 100%;
  margin: 0;
}

#region-menu {
  height: 0;
}

#region-footer-first {
  margin: 0;
  width: 100%;
  background-color: white;
}

#region-sidebar-first {
  float:right;
}

#region-preface-second {
  width: 100%;
}

html a{
  text-decoration: none;
  color: auto!important;
}

#page-title {
  display: none;
}
/* global ubiquitous elements */

body {
  background-color: #e6e8ea;
}

#zone-branding-wrapper {
  background-color: white;
}

.block-panels-mini-header-logo {
  .logo {
    margin: 30px auto 30px auto;
    display: block;
  }
}

html .block-panels-mini-menu {
    width: 900px;
    height: 34px;
        margin: 0 auto;
  ul {
    li {
      float: left;
      margin-left: 150px;
      a {
      text-transform: uppercase;
      .p-new-nav;
      line-height: 12px;
      }
    }
    .first {
      margin-left: 0px!important;
    }
  }
}
#zone-menu-wrapper {
  background-color: #000000;
  height: 34px;
}

#zone-menu {
  width: 100%;
  background-color: #000000;
  height: 34px;
}

#region-footer-second {
  .twitter {
      margin-right: 11px;
}
  margin: 0;
  background-color: #c3c9cd;
  width: 100%;
  .block-ubiquitous-footer {
    .footertext {
      float: left;
      margin-bottom: 50px;

  li.contactdetails {
    margin-left: 0px!important;
  }
  li {
    a {
      color: @footer-grey;
    }
      float: left;
      width: 200px;
      margin-left: 33px;
      .p-footer-text;
    }
      .contactdetails {
        .p-footer-text-large;
      }
    }
    .footerlogo {
      width: 435px;
      margin: 0 auto;
    }
    padding-top: 41px;
    width: 900px;
    margin: 0 auto;
  }
}

/* front page */

.views-field-field-slideshow-images {
  ul {
    li {
      margin: 0;
      float: left;
      display: block;
    }
  }
}

html #slideshow_pag {
  padding-top: 4px;
  width: 36px;
  margin: 0 auto;
  a {
    span {
      @sprite-pagination-inactive;
      @remove-text;
    }
  }
  a.selected {
    span {
      @sprite-pagination-active;
    }
  }
}

.view-footer {
  height: 17px;
  width: 100%;
  .transparent-white;
  position: absolute;
  margin-top: -29px;
}

#block-threedegrees-global-welcome {
  display: block;
  padding-top: 35px;
  padding-bottom: 29px;
  h2 {
    .p-heading-walbaum;
  }
}

#block-threedegrees-global-frontpageblurb {
  width: 670px;
  float: left;
  margin-right: 30px;
}
/* please forgive me this is not a mixin because the alterable bits are too deep inside it */
#block-panels-mini-newsletter-form {
  margin-top: 21px;
  padding-bottom: 30px;
  p.newsletterintro {
    .p-bodycopy;
    margin: 13px 0;
    float:left;
  }
  .newsletterheading {
    background-color: @almost-black!important;
    .box-title;
  }
  .button {
    float: right;
    margin: 0;
    input {
      padding: 0;
      margin: 0;
    font-family: 'sorren_exbold';
    font-size: 22px;
    text-transform: uppercase;
    height: 26px;
    border: 0px;
    background-color: transparent;
    background: transparent;
    text-align: right;
    }
  }
  width: 200px;
  float: left;
  div {
    width: 200px;
    float: left;
    span {
      float: left;
      .p-bodycopy;
      text-transform: uppercase;
      height: 23px;
      width: 80px;
      display: block;
    }
    input {
      width: 120px;
      float: right!important;
      display: block;
      height: 16px;
      background-color: @highlight-grey;
      border-color: #C3C9CD!important;
    }
  }
}

.frontpageblurb {
  width: 670px;
  margin-bottom: 48px;
  margin-top: 20px;
  p {
    .p-intro-text;
    margin-bottom: 32px
  }
}

.view-id-news.view-display-id-block {
  .views-row-1 {
    margin-left: 0px!important;
  }
  .views-row {
    width: 200px;
    height: 105px;
    margin-left: 33px;
    display: block;
    float: left;
  }
}

/* news previews */

#block-views-news-block {
  margin-bottom: 25px!important;
  h2 {
    .p-heading-walbaum ;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .newstile {
    div:first-child {
        .box-title;
    }
    div {
      .p-news-titles;
      margin-top: 18px;
      color: @almost-black;
      p {
        width: 145px;
      }
    }
  }
  width: 900px;
  margin: 0 auto;
}


/* services page */

#block-views-services-block {
  .views-row-1 {
      margin-left: 0px!important;
  }
  .views-row {
    .servicescategory {
      background-color: @almost-black!important;
      .box-title;
    }
    .services {
      ul {
        margin-top: 15px;
        list-style: disc;
        .p-bullets;
        margin-left: 17px;
        margin-bottom: 41px;
      }
    }
    float: left;
    width: 200px;
    margin-left: 33px;
  }
}

#block-threedegrees-global-services {
  h2 {
  .p-heading-walbaum;
  margin-top: 35px!important;
  }
}

.servicesblurb {
  .p-intro-text;
  margin-top: 31px;
  margin-bottom: 42px;
}

/* projects page */

.block-views-projects-block {
  margin-bottom: 51px;
  .projectdescription {
    .p-bodycopy;
    margin-top: 16px;
  }
  img:hover {
  opacity: 0.5;
  }
  td.col-1 {
    margin-left: 0px!important;
  }
  td {
    width: 280px;
    height: 262px;
    margin-left: 29px;
  }
  .projectitle{
      width: 280px!important;
      background-color: @almost-black!important;
      .box-title;
  }
  h2 {
    .p-heading-walbaum;
    margin-top: 35px!important;
    margin-bottom: 38px!important;
  }
}

/* single project view */

.node-project.view-mode-full {
  .group-left {
    width: 620px;
  }
  .group-right {
    ul {
      list-style: disc;
      margin-left: 18px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    p {
      margin-bottom: 12px;
    }
      p.subheading {
  font-size: 22px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 12px;
  }
    width: 280px;
  }
.field-name-field-additional-images {
  .field-item{
      float: left;
      margin-right: 30px;
      margin-top: 18px;
  }
}
.field-name-body {
  .p-bodycopy;

}
.field-name-field-long-title-tagline {
  .p-heading-walbaum;
  margin-top: 41px!important;
  margin-bottom: 39px!important;
}
}

.group-footer {
        padding-top: 35px!important;
    h2 {
    .p-heading-walbaum;
    margin-bottom: 3px!important;
  }
}
.view-id-projects.view-display-id-block_1 {
    margin-bottom: 51px;
  .projectdescription {
    .p-bodycopy;
    margin-top: 16px;
  }
  td.col-1 {
    margin-left: 0px!important;
  }
  td {
    width: 280px;
    height: 85px;
    margin-left: 29px;
  }
  .projectitle{
      width: 280px!important;
      background-color: @almost-black!important;
      .box-title;
  }
}


/* news overview page */

#block-views-news-block-1 {
  width: 590px;
  float: left;
  margin-right: 30px;
  .view-content {
    .p-bodycopy;
    .longtitle {
      padding-top: 12px;
      font-size: 34px!important;
      .p-intro-text;
    }
    .categorylabel {
      .box-title;
      background-color: @almost-black!important;
    }
  }
}

.view-id-news.view-display-id-block_2 {
  .field-content {
    p {
      margin-top: 35px!important;
      margin-bottom: 30px!important;
      .p-heading-walbaum;
    }
  }
}

.page-news  {
  #block-panels-mini-newsletter-form {
  margin-top: 0px;
  padding-bottom: 30px;
  p.newsletterintro {
    .p-bodycopy;
    margin: 13px 0;
    float:left;
  }
  .newsletterheading {
    background-color: @almost-black!important;
    .box-title;
  }
  .button {
    float: right;
    margin: 0;
    input {
      padding: 0;
      margin: 0;
    font-family: 'sorren_exbold';
    font-size: 22px;
    text-transform: uppercase;
    height: 26px;
    border: 0px;
    background-color: transparent;
    background: transparent;
    text-align: right;
    }
  }
  width: 280px;
  float: left;
  div {
    width: 280px;
    float: left;
    span {
      float: left;
      .p-bodycopy;
      text-transform: uppercase;
      height: 23px;
      width: 60px;
      display: block;
    }
    input {
      width: 220px;
      float: right!important;
      display: block;
      height: 16px;
      background-color: @highlight-grey;
      border-color: #C3C9CD!important;
    }
  }
}
}


/* contact us page */

.block-threedegrees-global-contactpage {
  p {
    .p-bodycopy;
    margin-bottom: 50px;
  }
  p.contactbold {
    .p-news-titles;
    margin-bottom: 12px;
  }
img {
  margin-bottom : 37px;
}
.contactustitle {
  p {
    margin-top: 35px!important;
    margin-bottom: 29px!important;
    .p-heading-walbaum;
  }
}
}

