/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* always reset */
@import "reset.less";
@import "stub.less";
@import "sorren.css";
@import "walbaum.css";
@import "swiss.css";
@import "proxima.css";

/* omega overrides */

tr:hover td, tr.even:hover td.active, tr.odd:hover, td.active {
  background-color: transparent!important;
}

.breadcrumb {
  display:none;
}

.container-12 {
  width: 100%!important;
  margin: 0!important;
}

#section-content {
  width: 900px;
  margin: 0 auto;
}

#region-content {
  width: 100%;
  margin: 0;
}

#region-menu {
  height: 0;
}

#region-footer-first {
  margin: 0;
  width: 100%;
  background-color: #f1f2ed;
}

#region-sidebar-first {
  float:right;
}

#region-preface-second {
  width: 100%;
}

html a{
  text-decoration: none;
  color: auto!important;
}

#page-title {
  display: none;
}
/* global ubiquitous elements */

body {
  background-color: #dee1de;
}

#zone-branding-wrapper {
  background-color: white;
}

.block-panels-mini-header-logo {
  .logo {
    margin: 30px auto 30px auto;
    display: block;
  }
}

html .block-threedegrees-global-menuclock {
  ul {
    width: 900px;
    margin: 0 auto;
    li {
      margin: 0;
      float: left;
    }
    a {
      width: 109px;
      height: 35px;
      display: block;
      text-indent: -9000px;
      overflow:hidden;
      background-repeat: no-repeat;
      margin-right: 92px;
    }
    a:hover {
        opacity: 0.8;
    }
    .home {
      a {
        background-image: url('img/home.png');
      }
    }
    .services {
      a {
        background-image: url('img/services.png');
      }
    }
    .projects {
      a {
        background-image: url('img/projects.png');
      }
    }
    .news {
      a {
        background-image: url('img/news.png');
      }
    }
    .contactus {
      a {
        background-image: url('img/contact.png');
        width: 92px;
        margin-right: 0px;
      }
    }
  }
}

// html .block-panels-mini-menu {
//     width: 900px;
//     height: 34px;
//         margin: 0 auto;
//   ul {
//     li {
//       float: left;
//       margin-left: 150px;
//       a {
//       text-transform: uppercase;
//       .p-new-nav;
//       line-height: 12px;
//       }
//     }
//     .first {
//       margin-left: 0px!important;
//     }
//   }
// }
#zone-menu-wrapper {
  background-color: #3f3f3f;
  height: 34px;
}

#zone-menu {
  width: 100%;
  background-color: #3f3f3f;
  height: 34px;
}

#region-footer-second {
  .twitter {
      margin-right: 11px;
}
  margin: 0;
  background-color: #dee1de;
  width: 100%;
  .block-ubiquitous-footer {
    .footertext {
      float: left;
      margin-bottom: 50px;

  li.contactdetails {
    margin-left: 0px!important;
  }
  li.newsletter {
    color: transparent;
    text-indent: -9999px;
    overflow: hidden;
  }
  li {
    a {
      color: @footer-grey;
    }
      float: left;
      width: 200px;
      margin-left: 33px;
      .p-footer-text;
    }
      .contactdetails {
        .p-footer-text-large;
      }
    }
    .footerlogo {
      width: 435px;
      margin: 0 auto;
    }
    padding-top: 37px;
    width: 900px;
    margin: 0 auto;
  }
}

/* front page */

.views-field-field-slideshow-images {
  ul {
    li {
      margin: 0;
      float: left;
      display: block;
    }
  }
}

html #slideshow_pag {
  padding-top: 4px;
  width: 36px;
  margin: 0 auto;
  a {
    span {
      @sprite-pagination-inactive;
      @remove-text;
    }
  }
  a.selected {
    span {
      @sprite-pagination-active;
    }
  }
}

.view-footer {
  height: 17px;
  width: 100%;
  .transparent-white;
  position: absolute;
  margin-top: -29px;
}

#block-threedegrees-global-welcome {
  display: block;
  padding-top: 17px;
  padding-bottom: 18px;
  h2 {
    .p-heading-walbaum;
  }
}

#block-threedegrees-global-frontpageblurb {
  width: 670px;
  float: left;
  margin-right: 30px;
}
/* please forgive me this is not a mixin because the alterable bits are too deep inside it */
#block-panels-mini-newsletter-form {
  margin-top: 21px;
  padding-bottom: 30px;
  p.newsletterintro {
    .p-bodycopy;
    margin: 13px 0;
    float:left;
    display: none;
  }
  .newsletterheading {
    background-color: #555c5f!important;
    .box-title;
    margin-bottom: 13px;
  }
  .button {
    float: right;
    margin: 0;
    input {
      border-radius: 0px!important;
      padding: 0;
      margin: 0;
    font-family: 'sorren_exbold';
    font-size: 30px;
    text-transform: uppercase;
    height: 30px;
    border: 0px;
    background-color: transparent;
    background: transparent;
    text-align: right;
    font-weight: normal!important;
    }
  }
  width: 200px;
  float: left;
  div {
    width: 200px;
    float: left;
    span {
      float: left;
      .p-bodycopy;
      text-transform: uppercase;
      height: 23px;
      width: 70px;
      display: block;
      label {
        padding-top: 4px;
      }
    }
    input {
      width: 130px;
      float: right!important;
      display: block;
      height: 20px;
      background-color: @input-grey;
      border-color: #C3C9CD!important;
    }
  }
}

.frontpageblurb {
  width: 670px;
  margin-bottom: 35px;
  margin-top: 20px;
  p {
    .p-intro-text;
    margin-bottom: 32px
  }
}

.view-id-news.view-display-id-block {
  .views-row-1 {
    margin-left: 0px!important;
  }
  .views-row {
    width: 200px;
    height: 105px;
    margin-left: 33px;
    display: block;
    float: left;
  }
}

/* news previews */

#block-views-news-block {
  margin-bottom: 9px!important;
  h2 {
    .p-heading-walbaum ;
    margin-top: 18px!important;
    padding-bottom: 16px!important;
  }
  .newstile {
    div:first-child {
        .box-title;
    }
    div {
      .p-news-titles;
      margin-top: 15px;
      color: @news-tile-dark!important;
      p {
        width: 145px;
        line-height: 30px;
      }
    }
  }
  width: 900px;
  margin: 0 auto;
  .shortitle:hover{
    opacity: 0.8;
  }
}


/* services page */

#block-views-services-block {
  .views-row-1 {
      margin-left: 0px!important;
  }
  .views-row {
    .servicescategory {
      background-color: @almost-black!important;
      .box-title;
    }
    .services {
      ul {
        margin-top: 15px;
        list-style: disc;
        .p-bullets;
        margin-left: 17px;
        margin-bottom: 41px;
        li {
          margin-bottom: 8px;
        }
      }
    }
    float: left;
    width: 200px;
    margin-left: 33px;
  }
}

#block-threedegrees-global-services {
  h2 {
  .p-heading-walbaum;
  margin-top: 17px!important;
  }
}

.servicesblurb {
  .p-intro-text;
  margin-top: 13px;
  margin-bottom: 42px;
}

/* projects page */

.block-views-projects-block {
  margin-bottom: 51px;
  .projectdescription {
    .p-bodycopy;
    margin-top: 16px;
  }
  img:hover {
  opacity: 0.9;
  }
  td.col-1 {
    padding-left: 0px;
  }
  td {
    width: 280px;
    height: 262px;
    padding-left: 29px;
  }
  .projectitle {
      width: 280px!important;
      background-color: @almost-black!important;
      .box-title;
  }
  h2 {
    .p-heading-walbaum;
    margin-top: 17px!important;
    margin-bottom: 4px!important;
  }
}


.view-id-projects.view-display-id-block_1 {
    td.col-1 {
    padding-left: 0px;
  }
  td {
    width: 280px;
    height: 262px;
    padding-left: 29px;
  }
}
/* single project view */

.node-project.view-mode-full {
  .group-left {
    width: 620px;
      .field-name-field-second-large-image {
              padding-top: 18px;
      }
  }
  .group-right {

    p {
      margin-bottom: 12px;
    }

    width: 280px;
  }
.field-name-field-additional-images {
  .field-item {
      float: left;
      margin-right: 30px;
      margin-top: 18px;
  }
}
.field-name-body {
  .field-items {
    .field-item {
      p.subheading {
        font-size: 32px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 12px;
        font-family: 'sorren_exbold';
  }
      ul {
        .p-bullets;
      list-style: disc;
      margin-left: 18px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
      p {
        .p-bodycopy;
      }
    }
  }

}
.field-name-field-long-title-tagline {
  .p-heading-walbaum;
  margin-top: 41px!important;
  margin-bottom: 39px!important;
}
}

.group-footer {
        padding-top: 35px!important;
    h2 {
    .p-heading-walbaum;
    margin-bottom: 3px!important;
  }
}
.view-id-projects.view-display-id-block_1 {
    margin-bottom: 51px;
  .projectdescription {
    .p-bodycopy;
    margin-top: 16px;
  }
  td.col-1 {
    margin-left: 0px!important;
  }
  td {
    width: 280px;
    height: 85px;
    margin-left: 29px;
  }
  .projectitle{
      width: 280px!important;
      background-color: @almost-black!important;
      .box-title;
  }
}


/* news overview page */

.view-id-news.view-display-id-page_1 {
  width: 590px;
  float: left;
  margin-right: 30px;
  .view-content {
    .newsbody {
      padding-bottom: 25px;
      p {
        .p-bodycopy;
      }
    }
    .p-bodycopy;
    .longtitle {
      padding-top: 12px;
      font-size: 34px!important;
      .p-intro-text;
    }
    .categorylabel {
      .box-title;
      background-color: #3f3f3f!important;
    }
  }
}

.view-id-news.view-display-id-block_2 {
  .field-content {
    p {
      margin-top: 35px!important;
      margin-bottom: 30px!important;
      .p-heading-walbaum;
    }
  }
}

.page-news  {
  #block-system-main {
    width: 590px;
    float: left;
    margin-right: 30px;
  }
  #block-panels-mini-newsletter-form {
  margin-top: 0px;
  padding-bottom: 30px;
  p.newsletterintro {
    .p-bodycopy;
    margin: 13px 0;
    float:left;
  }
  .newsletterheading {
    background-color: #555c5f!important;
    .box-title;
  }
  .button {
    float: right;
    margin: 0;
    input {
      padding: 0;
      margin: 0;
    font-family: 'sorren_exbold';
    font-size: 30px;
    text-transform: uppercase;
    height: 30px;
    border: 0px;
    background-color: transparent;
    background: transparent;
    text-align: right;
    }
  }
  width: 280px;
  float: left;
  div {
    width: 280px;
    float: left;
    span {
      float: left;
      .p-bodycopy;
      text-transform: uppercase;
      height: 23px;
      width: 60px;
      display: block;
    }
    input {
      border-radius: 0px!important;
      font-weight: normal!important;
      width: 205px;
      float: right!important;
      display: block;
      height: 16px;
      background-color: @input-grey;
      border-color: #C3C9CD!important;
    }
  }
}
}

/* news archive block! */

.seasonalheader {
  margin-top: 18px!important;
  margin-bottom: 18px!important;
  .p-heading-walbaum;
}

.newsheaderreal {
  position: absolute;
  width: 900px;
  margin-top: -64px;
  .p-heading-walbaum;
}

#block-threedegrees-global-archiveblock {
  float: left;
  .item-list {
    h3 {
      .p-intro-text;
    }
    ul {
      .p-bodycopy;
      li {
        a {
          color: @almost-black!important;
        }
      }
    }
  }
}
/* contact us page */

.block-threedegrees-global-contactpage {
  p {
    .p-bodycopy;
    margin-bottom: 50px;
  }
  p.contactbold {
    .p-news-titles;
    margin-bottom: 12px;
  }
img {
  margin-bottom : 37px;
}
.contactustitle {
  p {
    margin-top: 17px!important;
    margin-bottom: 18px!important;
    .p-heading-walbaum;
  }
}
}

